@use '../../utilities/variables';

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 75vw;
        grid-gap: 6vw;
        .project {
            height: 40rem;

            
                display: flex;
                align-items: center;
                flex-direction: column;
                img {
                    width: 100%;
                    height: 20rem;

                }

                h4 {
                    text-align: left;

                    width: 100%;
                    margin: 1.5rem 0;
                    font-size: 1.5rem;
                    font-weight: 300;
                }

                .line {
                    width: 100%;
                }

                p {
                    margin: 1rem 0;
                    text-align: left;
                    line-height: 1.2rem;
                    height: 4.8rem; // 4 lines maximum

                }

                .techStack  {
                    display: flex;
                    margin-left: 0;
                    width: 100%;
                    justify-content: flex-start;
                    gap: 1.5rem;

                    img {
                        width: 4rem;
                        height: 4rem;
                    }
                }

                .links {
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;
                    gap: 0.3rem;

                    padding-left: 0.6rem;
                    img {
                        width: 3rem;
                        height: 3rem;
                        cursor: pointer;
                    }
                }
        
            


        }

        .project2 {
            background-color: green;
        }
    }

    h1 {
        font-weight: 400;
        font-size: 3rem;
        margin-bottom: -1rem;
    }


    .line {
        height: 0.05rem;
        background-color: variables.$poseidon;
        width: 18rem;
    }
}