@use '../../utilities/variables';
@use '../../utilities/breakpoints';

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    gap: 2rem;

    .line {
        height: 0.05rem;
        background-color: variables.$poseidon;
        width: 15rem;
    }

    h1 {
        font-weight: 400;
        font-size: 3rem;
        margin-bottom: -1rem;
    }

    p {
        width: 75vw;
        text-align: center;
        line-height: 1.3rem;
    }

    @media (max-width:  1312px){
        height: 70vh;
    
    }

    @media (max-width:  792px){
        height: 80vh;
    
    }
    @media (max-width:  712px){
        height: 95vh;
    
    }

    .techStack {
        


        
        h4 {
            margin: 1rem auto;
            text-align: center;
            font-size: 1.3rem;
            text-decoration: underline;
        }
        img {
            width: 4rem;
            height: 4rem;
        }
    }
}


