@use '../../utilities/variables';
.about {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;

    .line {
        height: 0.05rem;
        background-color: variables.$poseidon;
        width: 15rem;
    }

    h1 {
        font-weight: 400;
        font-size: 3rem;
        margin-bottom: -1rem;
    }

    p {
        width: 60%;
        text-align: center;
        line-height: 1.3rem;
    }

    @media (max-width:  1312px){
        height: 70vh;
    
    }

    @media (max-width:  792px){
        height: 80vh;
    
    }
    @media (max-width:  712px){
        height: 95vh;
    
    }

    .techStack {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        h4 {
            margin: 1rem auto;
            text-align: center;
            font-size: 1.3rem;
            text-decoration: underline;
        }
        .skills {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.8em;
            img {
                width: 3rem;
                height: 3rem;
            }

        }
        
    }
}


