@use '../../utilities/variables';

.contact {

    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    gap: 2rem;
    

    h1 {
        font-weight: 400;
        font-size: 3rem;
        margin-bottom: -1rem;
    }

    .line {
        height: 0.05rem;
        background-color: variables.$poseidon;
        width: 18rem;
    }

    form {
        display: flex;
        justify-content: center;
        position: relative;
        gap: 5rem;
        width: 60;

        button {
            position: absolute;
            bottom: -40%;
            right: 0;
        }
        
        .nameEmail {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            label {
                font-size: 1.2rem;
                input {
                    margin: 0,5rem 0;
                }
            }
        }
        .textArea {
            flex: 1;
        }
    }
}