@use '../../utilities/variables';
.header {
    height: 6rem !important; 
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar {
        
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
        gap: 0.5vw;
        font-size: 1.2rem;
        font-weight: 400;
        

        .link{
            position: relative;
            border-radius: 1rem;
            padding: 0.7rem 1rem;
            width: 100%;
            text-align: center;
            transition: ease-in-out 0.5s;
            cursor: pointer;
            width: 11vw;

            &:hover{
                background-color: #dbdbdb;
            }
        &:last-child {
            background-color: variables.$poseidon;
            color: variables.$gainboro;
        }

        }

        
    }

    .name {
        flex: 1;
        h3 {
            font-weight: 800;
            font-size: 1.4rem;
        }
    }

}