@use '../../utilities/variables';

.intro {
    height: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 3rem;

    @media (max-width:633px){
        height: 700px;
    }
    .name {
        h1 {
            font-weight: 400;
            font-size: 3.5rem;
            text-align: center;
        }
    }

    .text {
        width: 50%;
        p {
            font-size: 1.2rem;
            text-align: center;
        }
    }

    .line {
        height: 0.05rem;
        background-color: variables.$poseidon;
        width: 25rem;
    }

    .social {
        display: flex;
        gap: 2em;

        img {
            width: 60px;
            transition: 0.5s ease-in-out;
            &:hover {
                scale: 1.1;
            }
        }
    }

}