@use '../../utilities/variables';

.intro {
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 3rem;
    .name {
        h1 {
            font-weight: 400;
            font-size: 3.5rem;
        }
    }

    .text {
        width: 50%;
        p {
            font-size: 1.2rem;
            text-align: center;
        }
    }

    .line {
        height: 0.05rem;
        background-color: variables.$poseidon;
        width: 25rem;
    }

}